	<div id="thank" class="popup">
		<div class="popup__inner">
			<p>Спасибо! Мы принияли вашу заявку,<br>менеджер вам перезвонит.</p>
		</div>
	</div>
	<a href="#" data-fancybox data-src="#thank" class="hide" id="thank_link"></a>

	<div id="filter_map" class="popup">
		<div class="popup__inner">
			Выбор на карте
		</div>
	</div>

	<div id="filter_filters" class="popup popup--filter">
		<div class="popup__inner">
			<h3>Фильтры</h3>
			<form action="/" name="" class="mt" id="form_filter">
				<div class="filter__group">
					<div class="filter__group-title pt pb">Стиль</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="1" class="checkbox" data-name="3D">3D</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="2" class="checkbox" data-name="Абстракционизм">Абстракционизм</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="3" class="checkbox" data-name="Авторский">Авторский</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="4" class="checkbox" data-name="Акварель">Акварель</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="5" class="checkbox" data-name="Биомеханика">Биомеханика</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="6" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="7" class="checkbox" data-name="Вип Шейдинг">Вип Шейдинг</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="8" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
					</div>
				</div>
				<div class="filter__group">
					<div class="filter__group-title pt pb">Место</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="9" class="checkbox" data-name="3D">3D</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="10" class="checkbox" data-name="Абстракционизм">Абстракционизм</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="11" class="checkbox" data-name="Авторский">Авторский</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="12" class="checkbox" data-name="Акварель">Акварель</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="13" class="checkbox" data-name="Биомеханика">Биомеханика</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="14" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="15" class="checkbox" data-name="Вип Шейдинг">Вип Шейдинг</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="16" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
					</div>
				</div>
				<div class="filter__group">
					<div class="filter__group-title pt pb">Тип</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="17" class="checkbox" data-name="3D">3D</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="18" class="checkbox" data-name="Абстракционизм">Абстракционизм</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="19" class="checkbox" data-name="Авторский">Авторский</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="20" class="checkbox" data-name="Акварель">Акварель</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="21" class="checkbox" data-name="Биомеханика">Биомеханика</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="22" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="23" class="checkbox" data-name="Вип Шейдинг">Вип Шейдинг</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="24" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
					</div>
				</div>
				<div class="filter__group">
					<div class="filter__group-title pt pb">Значение</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="25" class="checkbox" data-name="3D">3D</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="26" class="checkbox" data-name="Абстракционизм">Абстракционизм</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="27" class="checkbox" data-name="Авторский">Авторский</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="28" class="checkbox" data-name="Акварель">Акварель</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="29" class="checkbox" data-name="Биомеханика">Биомеханика</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="30" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="31" class="checkbox" data-name="Вип Шейдинг">Вип Шейдинг</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="32" class="checkbox" data-name="Блэкворк">Блэкворк</label></div>
					</div>
				</div>
				<div class="form__buttons">
					<div class="row">
						<div class="col-6">
							<input type="reset" class="btn btn--w100 btn--transparent" value="Сбросить">
						</div>
						<div class="col-6">
							<input type="submit" class="btn btn--w100" value="Применить">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="filter_catalog" class="popup popup--filter">
		<div class="popup__inner">
			<h3>Фильтры</h3>
			<form action="/" name="" class="mt" id="form_filter_catalog">
				<div class="filter__group">
					<div class="filter__group-title pt pb">Тип</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="1" class="checkbox" data-name="Индукционные">Индукционные</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="2" class="checkbox" data-name="Роторные">Роторные</label></div>
					</div>
				</div>
				<div class="filter__group">
					<div class="filter__group-title pt pb">Бренд</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="1" class="checkbox" data-name="ArtDriver Tattoo Machine">ArtDriver Tattoo Machine</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="2" class="checkbox" data-name="Barmaley Machines">Barmaley Machines</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="3" class="checkbox" data-name="Burlak Machines">Burlak Machines</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="4" class="checkbox" data-name="BUZZ Rotary">BUZZ Rotary</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="5" class="checkbox" data-name="Critical Tattoo Machine">Critical Tattoo Machine</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="6" class="checkbox" data-name="Cheyenne">Cheyenne</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="7" class="checkbox" data-name="Diablo Rotary">Diablo Rotary</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="8" class="checkbox" data-name="Dragonfly X2">Dragonfly X2</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="9" class="checkbox" data-name="EGO">EGO</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="10" class="checkbox" data-name="Elite Pen">Elite Pen</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="11" class="checkbox" data-name="Odds And Ends">Odds And Ends</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="12" class="checkbox" data-name="Handy Help">Handy Help</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="13" class="checkbox" data-name="Knick Knacks">Knick Knacks</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="14" class="checkbox" data-name="Nick’S Knacks">Nick’S Knacks</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="15" class="checkbox" data-name="Et Cetera Systems">Et Cetera Systems</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="16" class="checkbox" data-name="Closet Of Choices">Closet Of Choices</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="17" class="checkbox" data-name="Assorted Assets">Assorted Assets</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="18" class="checkbox" data-name="Trusted Assortment">Trusted Assortment</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="19" class="checkbox" data-name="Applicable Assortment">Applicable Assortment</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="20" class="checkbox" data-name="Resource Refresh">Resource Refresh</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="21" class="checkbox" data-name="Random Refresh">Random Refresh</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="22" class="checkbox" data-name="The Source">The Source</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="23" class="checkbox" data-name="Complete Collection">Complete Collection</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="24" class="checkbox" data-name="Terrific Tchotchkes">Terrific Tchotchkes</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="24" class="checkbox" data-name="Sporadic Systems">Sporadic Systems</label></div>
					</div>
				</div>
				<div class="filter__group">
					<div class="filter__group-title pt pb">Страна производитель</div>
					<div class="filter__group-data">
						<div class="form__checkbox"><label><input type="checkbox" value="1" class="checkbox" data-name="Польша">Польша</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="2" class="checkbox" data-name="Россия">Россия</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="3" class="checkbox" data-name="США">США</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="4" class="checkbox" data-name="Украина">Украина</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="5" class="checkbox" data-name="Великобритания">Великобритания</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="6" class="checkbox" data-name="КНР">КНР</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="7" class="checkbox" data-name="Тайвань">Тайвань</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="8" class="checkbox" data-name="Германия">Германия</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="9" class="checkbox" data-name="Венгрия">Венгрия</label></div>
						<div class="form__checkbox"><label><input type="checkbox" value="10" class="checkbox" data-name="Швеция">Швеция</label></div>
					</div>
				</div>
				<div class="form__buttons">
					<div class="row">
						<div class="col-6">
							<input type="reset" class="btn btn--w100 btn--transparent" value="Сбросить">
						</div>
						<div class="col-6">
							<input type="submit" class="btn btn--w100" value="Применить">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="messages" class="popup popup--messages">
		<div class="popup__inner dialogs">
			<div class="popup__header">
				<h3>Сообщения</h3>
			</div>
			<!-- <div class="messages__dialogs messages__dialogs--empty"> --> <!-- ЕСЛИ ДИАЛОГОВ НЕТ -->
			<div class="messages__dialogs">
				<div class="messages__dialog" data-dialog="1">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/006.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Вероника Кравчинская</div>
									<div class="author__message">И со мной она так же обошлась! Ха...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"><span>3</span></div>
							<div class="message__date">01:15</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="2">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/007.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Артур Джебко</div>
									<div class="author__message">Вы НИ когда не были нашим клиен...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"><span>1</span></div>
							<div class="message__date">Вчера</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="3">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/002.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Виктория Третьякова</div>
									<div class="author__message">Кто бы что не говорил, а татуировк...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"></div>
							<div class="message__date">Вс</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="4">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/005.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Мадина Шмидт</div>
									<div class="author__message">Я мечтала о татуировке лет с 18, оч...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"></div>
							<div class="message__date">31.12.19</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="1">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/006.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Вероника Кравчинская</div>
									<div class="author__message">И со мной она так же обошлась! Ха...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"></div>
							<div class="message__date">01:15</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="2">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/007.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Артур Джебко</div>
									<div class="author__message">Вы НИ когда не были нашим клиен...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"></div>
							<div class="message__date">Вчера</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="3">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/002.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Виктория Третьякова</div>
									<div class="author__message">Кто бы что не говорил, а татуировк...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"></div>
							<div class="message__date">Вс</div>
						</div>
					</div>
				</div>
				<div class="messages__dialog" data-dialog="4">
					<div class="row">
						<div class="col-9">
							<div class="messages__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/005.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Мадина Шмидт</div>
									<div class="author__message">Я мечтала о татуировке лет с 18, оч...</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="message__indi"></div>
							<div class="message__date">31.12.19</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup__inner dialog">
			<div class="popup__header">
				<a href="#" class="back-to-dialogs"></a>
				<a href="#" class="dialog__author author author--40">
					<div class="author__image">
						<div class="author__photo ibg"><img src="upload/users/006.jpg" alt=""></div>
					</div>
					<div class="author__data">
						<div class="author__name">Вероника Кравчинская</div>
					</div>
				</a>
			</div>
			<div class="messages__messages">
				<div class="messages__messages-inner">
					<div class="dialog__date"><span>16 февраля</span></div>
					<div class="dialog__message dialog__message--apponent">
						<div>И со мной она так же обошлась! Хамит, клиентов не ценит.В её салоне в Симферополе по улице Казанская, 30 работает Андрей, который водит меня за нос уже целый год и никак не хочу доделать свою работу.</div>
						<span>00:58</span>
					</div>
					<div class="dialog__message dialog__message--apponent">
						<img src="upload/masonry/004.jpg" alt="">
						<span>00:59</span>
					</div>
					<div class="dialog__message dialog__message--you">
						<div>Вы НИ когда не были нашим клиентом. И это прекрасно! Спасибо за чёрный пиар))) Всего наилучшего)</div>
						<span>01:15</span>
					</div>
					<div class="dialog__message dialog__message--apponent">
						<div>И со мной она так же обошлась! Хамит, клиентов не ценит.В её салоне в Симферополе по улице Казанская, 30 работает Андрей, который водит меня за нос уже целый год и никак не хочу доделать свою работу.</div>
						<span>00:58</span>
					</div>
					<div class="dialog__message dialog__message--you">
						<div>Вы НИ когда не были нашим клиентом. И это прекрасно! Спасибо за чёрный пиар))) Всего наилучшего)</div>
						<span>01:15</span>
					</div>
					<div class="dialog__message dialog__message--you">
						<div>Вы НИ когда не были нашим клиентом. И это прекрасно! Спасибо за чёрный пиар))) Всего наилучшего)</div>
						<span>01:15</span>
					</div>
					<div class="dialog__message dialog__message--you">
						<img src="upload/masonry/002.jpg" alt="">
						<span>01:15</span>
					</div>
				</div>
			</div>
			<div class="popup__footer">
				<form action="/" method="post" class="dialog__form">
					<input type="file" name="dialog__file">
					<textarea name="" value="" id="dialog__textarea" class="textarea" placeholder="Сообщение" class="textarea"></textarea>
					<input type="submit" value="">
				</form>
			</div>
		</div>
	</div>

	<div id="login_form" class="popup">
		<div class="popup__inner">
			<div class="mb text-align-center">
				<a href="javascript:;" class="btn" id="auth">Авторизоваться</a>
			</div>
			<div class="auth">
				<a href="#" class="auth__item auth__item--vk">
					<i class="fab fa-vk"></i>
				</a>
				<a href="#" class="auth__item auth__item--facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#" class="auth__item auth__item--instagram">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="#" class="auth__item auth__item--yandex">
					<i class="fab fa-yandex"></i>
				</a>
				<a href="#" class="auth__item auth__item--google">
					<i class="fab fa-google"></i>
				</a>
				<a href="#" class="auth__item auth__item--mailru">
					<i class="fas fa-at"></i>
				</a>
			</div>
		</div>
	</div>
