	<div class="pages">
		<div class="container">
			<ul class="pages__list">
				<li class="pages__item"><span class="pages__link pages__link--prev pages__link--disabled"></span></li>
				<!-- <li class="pages__item"><a href="#" class="pages__link pages__link--prev"></a></li> -->
				<li class="pages__item"><a href="#" class="pages__link pages__link--active">1</a></li>
				<li class="pages__item"><a href="#" class="pages__link">2</a></li>
				<li class="pages__item"><a href="#" class="pages__link">3</a></li>
				<li class="pages__item"><a href="#" class="pages__link">4</a></li>
				<li class="pages__item"><a href="#" class="pages__link">5</a></li>
				<li class="pages__item"><span class="pages__points">...</span></li>
				<li class="pages__item"><a href="#" class="pages__link">6</a></li>
				<li class="pages__item"><a href="#" class="pages__link pages__link--next"></a></li>
			</ul>
		</div>
	</div>
