	<!-- jQuery -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<!-- recliner -->
	<script src="js/recliner.min.js"></script>
	<!-- prefixfree -->
	<script src="js/prefixfree.min.js"></script>
	<!-- slick -->
	<script src="plugins/slick-1.8.1/slick.min.js"></script>
	<!-- fancybox -->
	<script src="plugins/fancybox-master/jquery.fancybox.min.js"></script>
	<!-- chosen -->
	<script src="plugins/chosen_v1.8.7/chosen.jquery.min.js"></script>
	<!-- mansory -->
	<script src="plugins/mp-mansory/mp.mansory.js"></script>
	<!-- dropzone -->
	<script src="plugins/dropzone/dropzone.js"></script>
	<!-- mask -->
	<script src="plugins/jQuery-Mask-Plugin-master/jquery.mask.min.js"></script>
	<!-- growl -->
	<script src="plugins/jquery.growl/jquery.growl.js"></script>
	<!-- user script -->
	<script src="script.js"></script>
