<div class="popup">
	<div class="popup__inner citys">
		<ul class="citys__list">
			<li><a href="#">Россия</a></li>
			<li><a href="#">Москва</a></li>
			<li><a href="#">Санкт-Петербург</a></li>
			<li><a href="#">Алушта</a></li>
			<li><a href="#">Альметьевск</a></li>
			<li><a href="#">Анапа</a></li>
			<li><a href="#">Ангарск</a></li>
			<li><a href="#">Архангельск</a></li>
			<li><a href="#">Астрахань</a></li>
			<li><a href="#">Барнаул</a></li>
			<li><a href="#">Бахчисарай</a></li>
			<li><a href="#">Белгород</a></li>
			<li><a href="#">Березовский</a></li>
			<li><a href="#">Боровичи</a></li>
			<li><a href="#">Брянск</a></li>
			<li><a href="#">Видное</a></li>
			<li><a href="#">Вельск</a></li>
			<li><a href="#">Владивосток</a></li>
			<li><a href="#">Волгоград</a></li>
			<li><a href="#">Владимир</a></li>
			<li><a href="#">Волжский</a></li>
			<li><a href="#">Воронеж</a></li>
			<li><a href="#">Воскресенск</a></li>
			<li><a href="#">Воткинск</a></li>
			<li><a href="#">Выборг</a></li>
			<li><a href="#">Гатчина</a></li>
			<li><a href="#">Геленджик</a></li>
			<li><a href="#">Горно-Алтайск</a></li>
			<li><a href="#">Десногорск</a></li>
			<li><a href="#">Дзержинск</a></li>
			<li><a href="#">Дмитров</a></li>
			<li><a href="#">Екатеринбург</a></li>
			<li><a href="#">Железнодорожный</a></li>
			<li><a href="#">Железногорск</a></li>
			<li><a href="#">Жуковский</a></li>
			<li><a href="#">Заречный</a></li>
			<li><a href="#">Иваново</a></li>
			<li><a href="#">Ижевск</a></li>
			<li><a href="#">Иркутск</a></li>
			<li><a href="#">Казань</a></li>
			<li><a href="#">Калининград</a></li>
			<li><a href="#">Калуга</a></li>
			<li><a href="#">Кемерово</a></li>
			<li><a href="#">Кимовск</a></li>
			<li><a href="#">Киров</a></li>
			<li><a href="#">Королев</a></li>
			<li><a href="#">Кострома</a></li>
			<li><a href="#">Котлас</a></li>
			<li><a href="#">Красногорск</a></li>
			<li><a href="#">Краснокаменск</a></li>
			<li><a href="#">Краснодар</a></li>
			<li><a href="#">Красноярск</a></li>
			<li><a href="#">Кстово</a></li>
			<li><a href="#">Курск</a></li>
			<li><a href="#">Ленинск-Кузнецкий</a></li>
			<li><a href="#">Лесосиби́рск</a></li>
			<li><a href="#">Лобня</a></li>
			<li><a href="#">Мурманск</a></li>
			<li><a href="#">Муром</a></li>
			<li><a href="#">Мытищи</a></li>
			<li><a href="#">Набережные Челны</a></li>
			<li><a href="#">Наро-Фоминск</a></li>
			<li><a href="#">Нахабино</a></li>
			<li><a href="#">Нефтекамск</a></li>
			<li><a href="#">Нижний Новгород</a></li>
			<li><a href="#">Новороссийск</a></li>
			<li><a href="#">Новосибирск</a></li>
			<li><a href="#">Новотроицк</a></li>
			<li><a href="#">Новочеркасск</a></li>
			<li><a href="#">Обнинск</a></li>
			<li><a href="#">Омск</a></li>
			<li><a href="#">Орел</a></li>
			<li><a href="#">Оренбург</a></li>
			<li><a href="#">Орск</a></li>
			<li><a href="#">Пенза</a></li>
			<li><a href="#">Переславль-Залесский</a></li>
			<li><a href="#">Пермь</a></li>
			<li><a href="#">Петрозаводск</a></li>
			<li><a href="#">Петропавловск-Камчатский</a></li>
			<li><a href="#">Подольск</a></li>
			<li><a href="#">Псков</a></li>
			<li><a href="#">Пушкин</a></li>
			<li><a href="#">Пушкино</a></li>
			<li><a href="#">Ржев</a></li>
			<li><a href="#">Ростов-на-Дону</a></li>
			<li><a href="#">Рязань</a></li>
			<li><a href="#">Самара</a></li>
			<li><a href="#">Саратов</a></li>
			<li><a href="#">Севастополь</a></li>
			<li><a href="#">Сергиев Посад</a></li>
			<li><a href="#">Серпухов</a></li>
			<li><a href="#">Симферополь</a></li>
			<li><a href="#">Славянск-на-Кубани</a></li>
			<li><a href="#">Смоленск</a></li>
			<li><a href="#">Солнечногорск</a></li>
			<li><a href="#">Сочи</a></li>
			<li><a href="#">Ставрополь</a></li>
			<li><a href="#">Старый Оскол</a></li>
			<li><a href="#">Сургут</a></li>
			<li><a href="#">Сухой Лог</a></li>
			<li><a href="#">Таганрог</a></li>
			<li><a href="#">Тольятти</a></li>
			<li><a href="#">Тверь</a></li>
			<li><a href="#">Томск</a></li>
			<li><a href="#">Тула</a></li>
			<li><a href="#">Тюмень</a></li>
			<li><a href="#">Ульяновск</a></li>
			<li><a href="#">Усолье-Сибирское</a></li>
			<li><a href="#">Уфа</a></li>
			<li><a href="#">Ухта</a></li>
			<li><a href="#">Химки</a></li>
			<li><a href="#">Чебоксары</a></li>
			<li><a href="#">Челябинск</a></li>
			<li><a href="#">Чита</a></li>
			<li><a href="#">Щелково</a></li>
			<li><a href="#">Ялта</a></li>
			<li><a href="#">Ярославль</a></li>
			<li><a href="#">Раменское</a></li>
		</ul>
	</div>
</div>
