	<section class="orders">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-9">
					<h2>Новые заказы</h2>
				</div>
				<div class="col-12 col-md-3 d-none d-md-block text-align-right">
					<a href="#" class="link-all">Смотреть все</a>
				</div>
			</div>
			<div class="row align-items-stretch">
				<div class="col-12 col-md-6 col-lg-4 mt">
					<div class="card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="images/pixel.gif" data-src="upload/orders/001.jpg" alt="" class="lazy">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
							<div class="card-vert__tags ml mt"><!--
								--><span>3000 &#8381;</span><!--
							--></div>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__title">Хочу сделать тату! Хочу сделать чёрного кота на ноге! сколько будет стоить! и как больно?</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--32">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/001.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Кристина Комарова</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mt">
					<div class="card-vert card-vert--nophoto">
						<div class="card-vert__top">
							<div class="card-vert__tags ml mt"><!--
								--><span>2500 &#8381;</span><!--
							--></div>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__title">Помогите выбрать татуировку Хочу написать на латыни известную цитату со смыслом, предложите парочку и более пожалуйста</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--32">
								<div class="author__image">
									<div class="author__nophoto">М</div>
								</div>
								<div class="author__data">
									<div class="author__name">Максим Крючков</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mt">
					<div class="card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="images/pixel.gif" data-src="upload/orders/002.jpg" alt="" class="lazy">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
							<div class="card-vert__tags ml mt"><!--
								--><span>3800 &#8381;</span><!--
							--></div>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__title">Хочу набить на голень наколку бомба с фитилём, Есть ли какое обозначение этой тату...</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--32">
								<div class="author__image">
									<div class="author__nophoto">И</div>
								</div>
								<div class="author__data">
									<div class="author__name">Иван Краюшкин</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mt">
					<div class="card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="images/pixel.gif" data-src="upload/orders/003.jpg" alt="" class="lazy">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
							<div class="card-vert__tags ml mt"><!--
								--><span>1000 &#8381;</span><!--
							--></div>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__title">Хочу сделать тату временное</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--32">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/002.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Эффи Стоун</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mt">
					<div class="card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="images/pixel.gif" data-src="upload/orders/004.jpg" alt="" class="lazy">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
							<div class="card-vert__tags ml mt"><!--
								--><span>4000 &#8381;</span><!--
							--></div>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__title">Хочу сделать татуировку</div>
								<div class="card-vert__desc">Давно хочу татуировку, вот вроде решилась )) осталось найти мас...</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--32">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/003.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Анастасия</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mt">
					<div class="card-vert card-vert--nophoto">
						<div class="card-vert__top">
							<div class="card-vert__tags ml mt"><!--
								--><span>По договоренности</span><!--
							--></div>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__title">Хочу сделать тату! Хочу сделать чёрного кота на ноге! сколько будет стоить! и как больно?</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--32">
								<div class="author__image">
									<div class="author__nophoto">В</div>
								</div>
								<div class="author__data">
									<div class="author__name">Витя Гараж</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 mt">
					<a href="#" class="btn btn--w100 btn--arrow">Смотреть все</a>
				</div>
			</div>
		</div>
	</section>
