	<section class="feedback-salons section-slider">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-9">
					<h2>Отзывы о салонах</h2>
				</div>
				<!--
				<div class="col-12 col-md-3 d-none d-md-block text-align-right">
					<a href="#" class="link-all">Смотреть все</a>
				</div>
				-->
			</div>
			<div class="feedback-slider slider mt">
				<div class="slider__item">
					<div class="slider__card card-horiz">
						<div class="cart-horiz__left">
							<a href="#" class="card-horiz__master author author--86">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/salon/004.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Хорошие Ребята</div>
									<div class="author__desc">Татуировки</div>
									<div class="author__rating rating">
										<div class="rating__points">5,0</div>
										<div class="rating__votes">(8)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="cart-horiz__right">
							<div class="cart-horiz__stars starts">
								<div class="stars__items stars__items--5"><span></span><span></span><span></span><span></span><span></span></div>
							</div>
							<div class="cart-horiz__text">Делала тату на ребрах (рисунок + текст). Эскиз сделали по моей просьбе, все учли. Все сделано аккуратно, заживало хорошо, хоть место и противное, ничего не поплыло. Делала у мастера Насти.</div>
							<a href="#" class="card-horiz__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/005.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Наталья Псыщаниц</div>
									<div class="author__date">13 июня 2018</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__card card-horiz">
						<div class="cart-horiz__left">
							<a href="#" class="card-horiz__master author author--86">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/salon/005.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Мир тату</div>
									<div class="author__desc">Пирсинг, Татуаж, Татуировки, Шрамиро...</div>
									<div class="author__rating rating">
										<div class="rating__points">3,1</div>
										<div class="rating__votes">(5)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="cart-horiz__right">
							<div class="cart-horiz__stars starts">
								<div class="stars__items stars__items--1"><span></span><span></span><span></span><span></span><span></span></div>
							</div>
							<div class="cart-horiz__text">Делала пирсинг сосков. Мастеру было как будто все равно что она делает. Прокололи, рекомендации дали, я ушла. Через некоторое время проколы начали гноиться. Ранки не заживали. Я звонила в студи…</div>
							<a href="#" class="card-horiz__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/002.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Елена Серикова</div>
									<div class="author__date">17 февраля 2018</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__card card-horiz">
						<div class="cart-horiz__left">
							<a href="#" class="card-horiz__master author author--86">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/salon/002.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Black Room Tattoo</div>
									<div class="author__desc">Татуировки</div>
									<div class="author__rating rating">
										<div class="rating__points">4,3</div>
										<div class="rating__votes">(11)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="cart-horiz__right">
							<div class="cart-horiz__stars starts">
								<div class="stars__items stars__items--4"><span></span><span></span><span></span><span></span><span></span></div>
							</div>
							<div class="cart-horiz__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своих лучше, точках маленький моей!</div>
							<a href="#" class="card-horiz__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/001.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Кристина Комарова</div>
									<div class="author__date">10 января 2018</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
