	<section class="comments section-slider">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-9">
					<h2>Новые комментарии</h2>
				</div>
				<!--
				<div class="col-12 col-md-3 d-none d-md-block text-align-right">
					<a href="#" class="link-all">Смотреть все</a>
				</div>
				-->
			</div>
			<div class="comments-slider slider mt">
				<div class="slider__item">
					<div class="slider__card card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="upload/comments/001.jpg" alt="">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__text">Кто бы что не говорил, а татуировки — это красиво! Особенно если это красивые картины, а не надписюльки «с глубоким смыслом». Расскажу мою историю о горе-мастере и пок...</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/006.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Хелен Винтер</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__card card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="upload/comments/002.jpg" alt="">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__text">Ох...сколько места на ноге будет про@ано, когда блекухой забьешь 🙈</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/007.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Максим Крючков</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__card card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="upload/comments/003.jpg" alt="">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__text">Очень весело читать комментарии наших закомплексованных, продвигающих ксенофобию сограждан: презрение и неприятие профессиональных качеств из-за са...</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/008.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Любовь Родникова</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__card card-vert">
						<div class="card-vert__top">
							<a href="#" class="card-vert__image ibg">
								<img src="upload/comments/004.jpg" alt="">
								<div class="img-sizer"><img src="images/1.75.gif" alt=""></div>
							</a>
						</div>
						<div class="card-vert__center">
							<a href="#" class="card-vert__data">
								<div class="card-vert__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупреждал скатился там над жизни.</div>
							</a>
						</div>
						<div class="card-vert__bottom">
							<a href="#" class="card-vert__author author author--48">
								<div class="author__image">
									<div class="author__photo ibg"><img src="upload/users/009.jpg" alt=""></div>
								</div>
								<div class="author__data">
									<div class="author__name">Елена Серикова</div>
									<div class="author__date">25 января</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
