	<section class="masters">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-9">
					<h1 class="h2">Мастера в Москве</h1>
				</div>
				<!--
				<div class="col-12 col-md-3 d-none d-md-block text-align-right">
					<a href="#" class="link-all">Смотреть все</a>
				</div>
				-->
			</div>
			<div class="filter mt">
				<div class="row">
					<div class="col-6 col-md-8 col-lg-6">
						<form action="" method="post">
							<input type="text" name="" class="input filter__search" value="" placeholder="Поиск">
						</form>
					</div>
					<div class="col-3 col-md-2 col-lg-3 offset-lg-1">
						<a href="javascript:;" data-fancybox data-src="#filter_map" class="btn btn--w100 btn--transparent filter__map">Выбрать на карте</a>
					</div>
					<div class="col-3 col-md-2 col-lg-2 col-xl-2">
						<a href="javascript:;" data-fancybox data-src="#filter_filters" data-options='{"baseClass":"fancybox-right"}' class="btn btn--w100 btn--transparent filter__filters">Фильтры</a>
					</div>
				</div>
			</div>
			<div class="card-lines mt">
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/002.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Виталий Тарасов</div>
									<div class="author__desc">Тату-мастер, мастер перманентного макияжа</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_1" data-type="ajax" data-options='{"url":"/ajax-work-1-1.html"}' data-src="_source/ajax-work-1-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_1" data-type="ajax" data-options='{"url":"/ajax-work-1-2.html"}' data-src="_source/ajax-work-1-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_1" data-type="ajax" data-options='{"url":"/ajax-work-1-3.html"}' data-src="_source/ajax-work-1-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_1" data-type="ajax" data-options='{"url":"/ajax-work-1-1.html"}' data-src="_source/ajax-work-1-1.html">
									<img src="images/pixel.gif" data-src="upload/works/004.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_1" data-type="ajax" data-options='{"url":"/ajax-work-1-2.html"}' data-src="_source/ajax-work-1-2.html">
									<img src="images/pixel.gif" data-src="upload/works/005.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_1" data-type="ajax" data-options='{"url":"/ajax-work-1-3.html"}' data-src="_source/ajax-work-1-3.html">
									<img src="images/pixel.gif" data-src="upload/works/006.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">188 работ</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/003.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Екатерина Леднева</div>
									<div class="author__desc">Тату-мастер</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_2" data-type="ajax" data-options='{"url":"/ajax-work-2-1.html"}' data-src="_source/ajax-work-2-1.html">
									<img src="images/pixel.gif" data-src="upload/works/007.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_2" data-type="ajax" data-options='{"url":"/ajax-work-2-2.html"}' data-src="_source/ajax-work-2-2.html">
									<img src="images/pixel.gif" data-src="upload/works/008.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_2" data-type="ajax" data-options='{"url":"/ajax-work-2-3.html"}' data-src="_source/ajax-work-2-3.html">
									<img src="images/pixel.gif" data-src="upload/works/009.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_2" data-type="ajax" data-options='{"url":"/ajax-work-2-1.html"}' data-src="_source/ajax-work-2-1.html">
									<img src="images/pixel.gif" data-src="upload/works/010.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_2" data-type="ajax" data-options='{"url":"/ajax-work-2-2.html"}' data-src="_source/ajax-work-2-2.html">
									<img src="images/pixel.gif" data-src="upload/works/011.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_2" data-type="ajax" data-options='{"url":"/ajax-work-2-3.html"}' data-src="_source/ajax-work-2-3.html">
									<img src="images/pixel.gif" data-src="upload/works/012.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">173 работы</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/001.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Вероника Кравчинская</div>
									<div class="author__desc">Тату-мастер, пирсер</div>
									<div class="author__rating rating">
										<div class="rating__points">4,5</div>
										<div class="rating__votes">(18)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_3" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/013.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_3" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/014.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_3" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/015.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_3" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_3" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_3" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">151 работа</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/002.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Виталий Тарасов</div>
									<div class="author__desc">Тату-мастер, мастер перманентного макияжа</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_4" data-type="ajax" data-options='{"url":"/ajax-work-1-1.html"}' data-src="_source/ajax-work-1-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_4" data-type="ajax" data-options='{"url":"/ajax-work-1-2.html"}' data-src="_source/ajax-work-1-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_4" data-type="ajax" data-options='{"url":"/ajax-work-1-3.html"}' data-src="_source/ajax-work-1-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_4" data-type="ajax" data-options='{"url":"/ajax-work-1-1.html"}' data-src="_source/ajax-work-1-1.html">
									<img src="images/pixel.gif" data-src="upload/works/004.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_4" data-type="ajax" data-options='{"url":"/ajax-work-1-2.html"}' data-src="_source/ajax-work-1-2.html">
									<img src="images/pixel.gif" data-src="upload/works/005.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_4" data-type="ajax" data-options='{"url":"/ajax-work-1-3.html"}' data-src="_source/ajax-work-1-3.html">
									<img src="images/pixel.gif" data-src="upload/works/006.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">188 работ</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/003.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Екатерина Леднева</div>
									<div class="author__desc">Тату-мастер</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_5" data-type="ajax" data-options='{"url":"/ajax-work-2-1.html"}' data-src="_source/ajax-work-2-1.html">
									<img src="images/pixel.gif" data-src="upload/works/007.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_5" data-type="ajax" data-options='{"url":"/ajax-work-2-2.html"}' data-src="_source/ajax-work-2-2.html">
									<img src="images/pixel.gif" data-src="upload/works/008.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_5" data-type="ajax" data-options='{"url":"/ajax-work-2-3.html"}' data-src="_source/ajax-work-2-3.html">
									<img src="images/pixel.gif" data-src="upload/works/009.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_5" data-type="ajax" data-options='{"url":"/ajax-work-2-1.html"}' data-src="_source/ajax-work-2-1.html">
									<img src="images/pixel.gif" data-src="upload/works/010.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_5" data-type="ajax" data-options='{"url":"/ajax-work-2-2.html"}' data-src="_source/ajax-work-2-2.html">
									<img src="images/pixel.gif" data-src="upload/works/011.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_5" data-type="ajax" data-options='{"url":"/ajax-work-2-3.html"}' data-src="_source/ajax-work-2-3.html">
									<img src="images/pixel.gif" data-src="upload/works/012.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">173 работы</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/001.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Вероника Кравчинская</div>
									<div class="author__desc">Тату-мастер, пирсер</div>
									<div class="author__rating rating">
										<div class="rating__points">4,5</div>
										<div class="rating__votes">(18)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_6" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/013.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_6" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/014.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_6" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/015.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_6" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_6" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_6" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">151 работа</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/002.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Виталий Тарасов</div>
									<div class="author__desc">Тату-мастер, мастер перманентного макияжа</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_7" data-type="ajax" data-options='{"url":"/ajax-work-1-1.html"}' data-src="_source/ajax-work-1-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_7" data-type="ajax" data-options='{"url":"/ajax-work-1-2.html"}' data-src="_source/ajax-work-1-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_7" data-type="ajax" data-options='{"url":"/ajax-work-1-3.html"}' data-src="_source/ajax-work-1-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_7" data-type="ajax" data-options='{"url":"/ajax-work-1-1.html"}' data-src="_source/ajax-work-1-1.html">
									<img src="images/pixel.gif" data-src="upload/works/004.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_7" data-type="ajax" data-options='{"url":"/ajax-work-1-2.html"}' data-src="_source/ajax-work-1-2.html">
									<img src="images/pixel.gif" data-src="upload/works/005.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_7" data-type="ajax" data-options='{"url":"/ajax-work-1-3.html"}' data-src="_source/ajax-work-1-3.html">
									<img src="images/pixel.gif" data-src="upload/works/006.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">188 работ</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/003.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Екатерина Леднева</div>
									<div class="author__desc">Тату-мастер</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_8" data-type="ajax" data-options='{"url":"/ajax-work-2-1.html"}' data-src="_source/ajax-work-2-1.html">
									<img src="images/pixel.gif" data-src="upload/works/007.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_8" data-type="ajax" data-options='{"url":"/ajax-work-2-2.html"}' data-src="_source/ajax-work-2-2.html">
									<img src="images/pixel.gif" data-src="upload/works/008.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_8" data-type="ajax" data-options='{"url":"/ajax-work-2-3.html"}' data-src="_source/ajax-work-2-3.html">
									<img src="images/pixel.gif" data-src="upload/works/009.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_8" data-type="ajax" data-options='{"url":"/ajax-work-2-1.html"}' data-src="_source/ajax-work-2-1.html">
									<img src="images/pixel.gif" data-src="upload/works/010.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_8" data-type="ajax" data-options='{"url":"/ajax-work-2-2.html"}' data-src="_source/ajax-work-2-2.html">
									<img src="images/pixel.gif" data-src="upload/works/011.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_8" data-type="ajax" data-options='{"url":"/ajax-work-2-3.html"}' data-src="_source/ajax-work-2-3.html">
									<img src="images/pixel.gif" data-src="upload/works/012.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">173 работы</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/001.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Вероника Кравчинская</div>
									<div class="author__desc">Тату-мастер, пирсер</div>
									<div class="author__rating rating">
										<div class="rating__points">4,5</div>
										<div class="rating__votes">(18)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_9" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/013.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_9" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/014.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_9" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/015.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_9" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_9" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_9" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">151 работа</a>
						</div>
					</div>
				</div>
				<div class="card-line">
					<div class="row align-items-center mt">
						<div class="col-12 col-lg-4 mb">
							<a href="#" class="card-line__author author">
								<div class="author__image">
									<div class="author__photo ibg"><img src="images/pixel.gif" data-src="upload/users/002.jpg" alt="" class="lazy"></div>
								</div>
								<div class="author__data">
									<div class="author__name">Виталий Тарасов</div>
									<div class="author__desc">Тату-мастер, мастер перманентного макияжа</div>
									<div class="author__rating rating">
										<div class="rating__points">4,6</div>
										<div class="rating__votes">(21)</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-lg-6 mb">
							<div class="card-line__photos">
								<div class="card-line__photo ibg" data-fancybox="masters_top_10" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/013.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_10" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/014.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_10" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/015.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_10" data-type="ajax" data-options='{"url":"/ajax-work-3-1.html"}' data-src="_source/ajax-work-3-1.html">
									<img src="images/pixel.gif" data-src="upload/works/001.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_10" data-type="ajax" data-options='{"url":"/ajax-work-3-2.html"}' data-src="_source/ajax-work-3-2.html">
									<img src="images/pixel.gif" data-src="upload/works/002.jpg" alt="" class="lazy">
								</div>
								<div class="card-line__photo ibg" data-fancybox="masters_top_10" data-type="ajax" data-options='{"url":"/ajax-work-3-3.html"}' data-src="_source/ajax-work-3-3.html">
									<img src="images/pixel.gif" data-src="upload/works/003.jpg" alt="" class="lazy">
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-2 mb text-align-right">
							<a href="#" class="link-all link-all--dark">188 работ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 mt">
					<a href="#" class="btn btn--w100">Показать ещё</a>
				</div>
			</div>
		</div>
	</section>
